<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane_Yonetim_ve_Randevu_Sistemi.Properties.Settings.Hastane_OtomasyonConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Hastane_Otomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>